In [1]:
import pandas as pd
from wordcloud import WordCloud
import matplotlib.pyplot as plt
import string
import nltk
from nltk.corpus import stopwords
import re
from collections import Counter
import stanza
from spellchecker import SpellChecker
from nltk.corpus import words
import zemberek
from zemberek.morphology import TurkishMorphology
from zemberek.tokenization import TurkishTokenizer
from zemberek.normalization import TurkishSpellChecker
from zemberek.normalization import  TurkishSentenceNormalizer
import jpype
import jpype.imports
from jpype.types import JString

c:\Users\Enes\anaconda3\envs\py310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# READ DATA

In [3]:
df = pd.read_csv('tweets.csv')
df.head()

,timestamp,username,handle,tweet_date,content
0,2024-11-03 19:38:25,Orhan Åevik,orhan_sevik,"Feb 8, 2023",@haluklevent\n @OguzhanUgur\n hepinizden Alla...
1,2024-11-03 19:38:25,nursena,nurssxx_,"Feb 8, 2023",AllahÄ±m nolur sen onlara dayanma gÃ¼cÃ¼ ver #deprem
2,2024-11-03 19:38:25,Elif ÅEKER,55ellllllif,"Feb 8, 2023",Replying to \n@haluklevent\n @danlabilic\n and...
3,2024-11-03 19:38:25,Yusuf,yusufaltuns,"Feb 8, 2023",TuÄŸba sÃ¶dekoÄŸlu kovulsun \n@showtv\n #deprem
4,2024-11-03 19:38:25,ğÌˆğ³ğ ğ®Ìˆğ« ğ‘ğšğ§,dryghtn2,"Feb 8, 2023",ARKADAÅIMIZA ULAÅAMIYORUZ\nKahramanmaraÅŸ Elbis...

# CHECK DATA

In [4]:
def checkData(data):
    print("****************SHAPE****************")
    print(data.shape)
    print("****************COLUMNS****************")
    print(data.columns)
    print("****************DTYPES****************")
    print(data.dtypes)    
    print("****************HEAD****************")
    print(data.head())
    print("****************Tail****************")
    print(data.tail())
    print("****************NA****************")
    print(data.isnull().sum())
    print("****************INFO****************")
    print(data.info())

checkData(df)

****************SHAPE****************
(2676, 5)
****************COLUMNS****************
Index(['timestamp', 'username', 'handle', 'tweet_date', 'content'], dtype='object')
****************DTYPES****************
timestamp     object
username      object
handle        object
tweet_date    object
content       object
dtype: object
****************HEAD****************
             timestamp     username       handle   tweet_date  \
0  2024-11-03 19:38:25  Orhan Åevik  orhan_sevik  Feb 8, 2023
1  2024-11-03 19:38:25      nursena     nurssxx_  Feb 8, 2023
2  2024-11-03 19:38:25   Elif ÅEKER  55ellllllif  Feb 8, 2023
3  2024-11-03 19:38:25        Yusuf  yusufaltuns  Feb 8, 2023
4  2024-11-03 19:38:25  ğÌˆğ³ğ ğ®Ìˆğ« ğ‘ğšğ§     dryghtn2  Feb 8, 2023

                                             content
0  @haluklevent\n @OguzhanUgur\n  hepinizden Alla...
1  AllahÄ±m nolur sen onlara dayanma gÃ¼cÃ¼ ver #deprem
2  Replying to \n@haluklevent\n @danlabilic\n and...
3       TuÄŸba sÃ¶dekoÄŸlu kovulsun \n@showtv\n #deprem
4  ARKADAÅIMIZA ULAÅAMIYORUZ\nKahramanmaraÅŸ Elbis...
****************Tail****************
                timestamp username         handle    tweet_date  \
2671  2024-11-06 22:52:29     Cans        cns6197  Feb 10, 2023
2672  2024-11-06 22:52:29      fzo        ffattze  Feb 10, 2023
2673  2024-11-06 22:52:30      NaN            NaN  Feb 10, 2023
2674  2024-11-06 22:52:30  GÃ¼rkan.       grkntzcn  Feb 10, 2023
2675  2024-11-06 22:52:30  â“–â“Ğ¼zÑ”â„“i  charisma87_GA  Feb 10, 2023

                                                content
2671  KADER DEÄIL CINAYET...12 GÃœN Ã–NCE YAYINLANMIÅ ...
2672  seni tanÄ±mak bizler iÃ§in bir ÅŸerefti Ã¶ÄŸretmeni...
2673  -mesaj-\nAlitaÅŸÄ± Mahallesi Bozbey yolu BahÃ§eke...
2674  Bu Ã¼lkede depremin konu olarak anlatÄ±ldÄ±ÄŸÄ± â€œco...
2675  O bebeklerin zaten melekler yardimcisi olur en...
****************NA****************
timestamp      0
username      26
handle        26
tweet_date     2
content        2
dtype: int64
****************INFO****************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2676 entries, 0 to 2675
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   timestamp   2676 non-null   object
 1   username    2650 non-null   object
 2   handle      2650 non-null   object
 3   tweet_date  2674 non-null   object
 4   content     2674 non-null   object
dtypes: object(5)
memory usage: 104.7+ KB
None

# Tweets Lower And Conver Str

In [7]:
df['content'] = df['content'].astype(str)
df['content'] = df['content'].str.lower()

# Count By Tweet Date

In [8]:
tweet_counts = df.groupby('tweet_date')['content'].count().sort_values(ascending=False)
print("=== Tweet Counts by Date ===")
print(tweet_counts)

=== Tweet Counts by Date ===
tweet_date
Feb 10, 2023    1129
Feb 7, 2023      563
Feb 8, 2023      477
Feb 9, 2023      455
Feb 6, 2023       50
Name: content, dtype: int64

# Hastags

In [9]:
hashtag_counts = df['content'].str.findall(r'#\w+').explode().value_counts()
print("=== Hashtag Counts ===")
print(hashtag_counts)

=== Hashtag Counts ===
content
#deprem                  2686
#hatay                    402
#depremsondakika          193
#hatayyardimbekliyor      193
#afad                     145
                         ...
#ÅŸeytan                     1
#abdgemisiistemiyoruz       1
#arkadaslar                 1
#liberal                    1
#coÄŸrafyadersi              1
Name: count, Length: 767, dtype: int64

# Word Cloud